---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>
    
    <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=efefef&w=318&t=tt&d=POB8O03weGHGPzMo0jaL1oN_vapDuJB1Un_6kY0uxsc&co=00477a&ct=dbdbdb&cmo=7c7c7c&cmn=00b510'></script>
    
    <div style="text-align: center">
      <img src="https://visitor-badge.laobi.icu/badge?page_id=Chord-Chen-30.Chord-Chen-30.github.io" alt="Vist"/>
    </div>

    {%- comment -%} Discreet Spidey Tracker entry (bottom-left) {%- endcomment -%}
    <a
      href="{{ site.baseurl }}/spidey-tracker/"
      aria-label="Spidey Tracker"
      title="Spidey Tracker"
      style="position:fixed;left:12px;bottom:10px;z-index:9999;line-height:0;opacity:.22;display:block;width:22px;height:22px;"
      onmouseover="this.style.opacity='.9'"
      onmouseout="this.style.opacity='.22'"
    >
      <img
        src="{{ site.baseurl }}/spidey-tracker/spidey-head.png"
        alt=""
        width="22"
        height="22"
        style="display:block;width:22px;height:22px;image-rendering:pixelated;image-rendering:crisp-edges;filter:drop-shadow(1px 0 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(0 1px 0 #000) drop-shadow(0 -1px 0 #000);"
      />
    </a>
    
    {% include scripts.html %}

  </body>
</html>
